:root {
    box-sizing: border-box;
    --header-background-color: #1d4f66;
    --left-container-backgroud: #739299;
    --projects-icons-color: #b3bfbd;
    --left-litle-titles-color: #c6cabc;
    --profile-name-color: #eeeeee;
    --checked-background-color: #0c8a0c;
    --checked-color: #000000;
    --left-side-font: 'Inter';
    --tasks-container-font: 'Roboto Condensed';
    --titles-font-weight: bold;
    --lists-font-weight: normal;
    --profilename-underline-color: #cfcfba;
    --left-side-padding: .5em;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("Inter-Regular.woff2?v=3.19") format("woff2"),
        url("Inter-Regular.woff?v=3.19") format("woff");
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    justify-content: space-between;

}

.header {
    margin: 0;
    padding: 0;
    height: 4rem;
    width: 100vw;
    background-color: var(--header-background-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.app-logo {
    z-index: 100;
}


.homeBodyContainer {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;


}


.leftContainer {
    margin-left: 0;

    width: 40vw;
    background-color: var(--left-container-backgroud);
    min-height: 100vh;
    font-family: var(--left-side-font);
}

.profileAndScheduleContainer {
    padding-left: var(--left-side-padding);
    min-height: 40%;
    width: 92%;
}

.profileContainer {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem
}

.profileImageContainer {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: var(--profile-name-color);
}

.profileNameContainer {
    width: 10vw;
}

.profileName {
    color: var(--profile-name-color);
    font-weight: bold;
}

.profileNameUnderline {
    width: 100%;
    height: .8rem;
    background-color: var(--profilename-underline-color);
}

.scheduleContainer {
    margin-top: 1rem;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin-left: 1rem;

}

.tasks-header {
    color: var(--left-litle-titles-color);
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    font-weight: var(--titles-font-weight);
    cursor: pointer;
}

.header-title {
    width: 6rem;

}


.projectsTitleContainer {
    width: 100%;
    height: 2rem;
    background-color: var(--profilename-underline-color);
    color: var(--left-container-backgroud);
    text-align: center;


}



.projectsContainer {
    overflow: auto;
    height: 52%;
    padding-left: var(--left-side-padding);
    font-family: var(--left-side-font);
    display: flex;
    flex-direction: column;
    color: var(--left-litle-titles-color);
    font-weight: var(--titles-font-weight);
    margin-bottom: 1rem;
}



.new-project-popup {
    display: none;
    padding: var(--left-side-padding);
    width: 80%;
    margin-top: .5rem;
    flex-direction: column;
    justify-content: space-between;
}

.new-project-title-collecter {
    width: 97%;
    background-color: var(--profilename-underline-color);
    border: none;
    border-radius: .2rem;
    padding: .3rem;
    height: 1.5rem;
    color: var(--header-background-color);

}


.new-project-popup-buttons {
    padding: 0;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: clamp(.5rem, 15%, 10rem);

}


.add-button,
.cancel-button {
    font-size: clamp(.5rem, .75rem, 1.2rem);
    width: clamp(2.5rem, 40%, 4rem);
    height: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3rem .7rem;
    border-radius: .2rem;
    cursor: pointer;

}

.add-button:active,
.cancel-button:active {
    box-shadow: .1rem .1rem;
    opacity: .7;
}

.add-button {
    background-color: green;
    justify-self: flex-start;
}

.cancel-button {
    background-color: red;
    justify-self: flex-end;

}

.new-project-container {

    margin-top: .5rem;
    padding-left: var(--left-side-padding);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.new-project-container:hover,
.new-project-container:active {
    background-color: var(--header-background-color);
    border-radius: .2rem;
    opacity: .6;
}


.new-project-line {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    cursor: pointer;
    margin-top: 1rem;
    padding: var(--left-side-padding);
}

.new-project-line:hover {
    background-color: var(--header-background-color);
    border-radius: .5rem;
}

.new-project-line:active {
    opacity: .5;
}

.tasksContainer {
    margin: 0;
    width: 100%;
    background-image: url('./images/back.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-task-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    background-color: var(--profilename-underline-color);
    border-radius: 1rem;
    font-family: var(--tasks-container-font);
    font-weight: var(--titles-font-weight);
    color: var(--left-container-backgroud);
    padding: .3rem;
    gap: 40%;
    margin-top: 1rem;
    cursor: pointer;
}

.new-task-line:hover {
    opacity: .7;
}

.new-task-line:active {
    background-color: var(--left-container-backgroud);
    opacity: .9;
}

.task-popup-container {

    width: 70%;
    height: 40vh;

    display: none;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas: "popupHeader popupHeader"
        " popupBody popupBody";

    margin-top: 3rem;
}

.task-popup-header {
    height: 40px;
    grid-area: popupHeader;
    background-color: var(--header-background-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}

.close-icon {
    cursor: pointer;
}

.task-popup-body {

    grid-area: popupBody;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "taskPopupBodyLeft taskPopupBodyRight";
    color: var(--header-background-color);
    font-size: .8rem;
    font-weight: bold;
    font-family: var(--left-side-font);


}

.task-popup-body-left {
    grid-area: taskPopupBodyLeft;
    background-color: var(--left-container-backgroud);
    opacity: .6;
}

.task-popup-body-right {
    grid-area: taskPopupBodyRight;
    background-image: url('./images/back.jpg');
    background-size: cover;
    opacity: .9;
    padding-top: .7rem;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1.3fr 1fr;
    grid-template-areas:
        "taskPopupBodyRightUp  ..."
        " ... ... "
        "taskPopupBodyRightLow  taskPopupBodyRightLow "
    ;
    padding-left: var(--left-side-padding);

}

.task-popup-body-right-up label {
    display: block;
    width: 90%;
    cursor: pointer;


}

.task-popup-body-right-up {
    grid-area: taskPopupBodyRightUp;
}

#task-title-collecter {
    background-color: var(--profilename-underline-color);
    border: none;
    opacity: 1;
    width: 90%;
    color: var(--header-background-color);
    font-family: var(--left-side-font);
}

#task-description-collecter {
    background-color: var(--profilename-underline-color);
    border: none;
    width: 90%;
    color: var(--header-background-color);
    font-family: var(--left-side-font);
}

.description-collecter-container {
    margin-top: .7rem;
}

.task-popup-body-right-low {
    grid-area: taskPopupBodyRightLow;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr .8fr;
    grid-template-areas:
        "dueDateContainer ...."
        "importanceCheckBoxContainer ..."
        "...  addTask"
    ;
}

.task-popup-body-right-low label {
    display: block;
    width: 45%;
    cursor: pointer;
}

.due-date-container {
    grid-area: dueDateContainer;

}

#due-date {
    background-color: var(--profilename-underline-color);
    border: none;
    width: 45%;
    cursor: pointer;
}

.importance-checkbox-container {
    grid-area: importanceCheckBoxContainer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    color: var(--profilename-underline-color);
}



#importance-check {
    width: 1rem;
    height: 1rem;
}

.add-task {
    grid-area: addTask;
    font-size: clamp(.5rem, .75rem, 1.2rem);
    width: clamp(1.5rem, 80%, 4rem);
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .2rem;
    cursor: pointer;
    background-color: green;
    color: var(--profilename-underline-color);
}

.add-task:active {
    box-shadow: .1rem .1rem;
    opacity: .7;
}


.footer {
    justify-self: flex-end;
    height: 2rem;
    width: 100vw;
    background-color: var(--header-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--profile-name-color);
}